Introdução aos conceitos e ambiente do Django/.venv
Introdução aos conceitos e ambiente do Django/.python-version
.vscode
.devcontainer
Introdução aos conceitos e ambiente do Django/agenda/core/__pycache__
Introdução aos conceitos e ambiente do Django/agenda/core/migrations
Introdução aos conceitos e ambiente do Django/agenda/agenda/__pycache__