{% extends 'model-page.html' %} <!-- exporta o modelo do page -->

{% block content %} <!-- inicio -->

  <h2>Agendamentos</h2>
    <a href="evento">
    <button type="button">Novo Evento</button>
  <ul>
    </a>
    {% for evento in eventos %} <!-- vai imprimir cada elemento da lista -->
      <li>
        <div style="{% if evento.get_evento_atrasado %} color:red {% endif %}">
          {{evento.titulo}} - {{evento.get_data_evento}}
          <a href="{% url 'evento' %}?id={{evento.id}}">Editar</a> / <a href="evento/delete/{{evento.id}}">Excluir</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %} <!-- fim -->