{% extends 'model-page.html' %} <!-- exporta o modelo do page -->

{% block content %} <!-- inicio -->
  <h2>Evento</h2>
  <!-- <input type="text" name="titulo" size="23" value="{{evento.titulo}}">
<input type="datetime-local" name="data_evento" value="{{evento.data_evento|date:'Y-m-d\TH:i'}}">
<textarea name="descricao" cols="23" rows="5">{{evento.descricao}}</textarea>
Espero que isso ajude! Você tem mais alguma dúvida? -->
  <form action="submit" method="POST">{% csrf_token %}
    <label>Título</label>
    <input type="number" name="id_evento" value="{{evento.id}}" hidden> <!-- dessa forma capitura o id do evento e hidden é pra ocultar -->
    <br>
    <input type="text" name="titulo" size="23" value="{{evento.titulo}}">
    <br>
    <label>Data do Evento</label>
    <br>
    <!-- type datetime-local transforma o input no tipo data hora local -->
    <input type="datetime-local" name="data_evento" value="{{evento.data_evento|date:'Y-m-d\TH:i'}}">
    <br>
    <label>Descrição</label>
    <br>
    <textarea name="descricao" cols="23" rows="5">{{evento.descricao}}</textarea>
    <br>
    <button type="submit">Salvar</button>
    <a href="/">
      <button type="button">Cancelar</button>
    </a>
  </form>
{% endblock %} <!-- fim -->