<!-- vai ter uma tela unica pra o login, por isso não usa os modelos -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="submit" method="POST">{% csrf_token %} <!-- action submit leva pra pagina submit, que é concatenado a login, ou seja ...login/submit, quando preencher o form e clicar no button --> <!-- quando utilizar um form que faz um post colocar o {% csrf_token %} pra gerar um token de segurança, se não da erro, por segurança -->
    <div align="center">
      <label for="">Usuário:</label>
      <input type="username" name="username"> <!-- o name server pra recuperar os dados depois por ele, isso acontece no views -->
      <label for="">Senha:</label>
      <input type="password" name="password">
      <button type="submit">Entrar</button>
    </div>
  </form>

  {% for message in messages %}
    <div align="center">
      <strong>Erro: </strong>{{ message }}
    </div>    
  {% endfor %}
</body>
</html>